@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

#root{
  overflow: hidden;
  background-color: #25274D;
  height:100vh;
}
.slick-track {
  display: flex;
}

